In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import chi2_contingency
from statsmodels.stats.contingency_tables import Table2x2

In [ ]:
data1 = np.array([[770, 2290],
                [2898, 9042]])

df1 = pd.DataFrame(data1,
                   columns=["Combination", "Non_combination"],
                   index=["Daily", "Non_daily"])
df1

           Combination  Non_combination
Daily              770             2290
Non_daily         2898             9042

In [47]:
odds_ratio = Table2x2(data1).oddsratio
odds_ratio_ci = Table2x2(data1).oddsratio_confint()
print(f"Odds Ratio: {odds_ratio}")

Odds Ratio: 1.0491108157711537

In [46]:
risk_exposed = data1[0, 0] / (data1[0, 0] + data1[0, 1])
risk_unexposed = data1[1, 0] / (data1[1, 0] + data1[1, 1])
relative_risk = risk_exposed / risk_unexposed
print(f"Relative Risk: {relative_risk}")

Relative Risk: 1.0367528653973666

In [41]:
# Membuat matriks data
data2 = np.array([[770, 753, 726, 685, 734],
                [774, 735, 772, 778, 722],
                [773, 756, 753, 744, 768],
                [743, 721, 740, 802, 751]])

# Membuat DataFrame dengan label kolom dan baris
columns = ["Combination", "Dry", "Normal", "Oily", "Sensitive"]
index = ["Daily", "Monthly", "Occasional", "Weekly"]

df2 = pd.DataFrame(data2, columns=columns, index=index)
df2

            Combination  Dry  Normal  Oily  Sensitive
Daily               770  753     726   685        734
Monthly             774  735     772   778        722
Occasional          773  756     753   744        768
Weekly              743  721     740   802        751

In [64]:
# Menghitung uji chi-square
chi2, p, dof, expected = stats.chi2_contingency(df2)

# Menampilkan hasil uji chi-square
print(f"Chi-Square Statistic: {chi2}")
print(f"p-value: {p}")
print(f"Degrees of Freedom: {dof}")

# Nilai Chi-Square tabel untuk df=12 pada signifikansi 0.05
chi_square_table_value = stats.chi2.ppf(0.95, dof)
print(f"Chi-Square Tabel (df={dof}, alpha=0.05): {chi_square_table_value}")

# Keputusan hipotesis
if chi2 > chi_square_table_value:
    print("Keputusan: Tolak H0 (Ada hubungan yang signifikan)")
else:
    print("Keputusan: Gagal Tolak H0 (Tidak ada hubungan yang signifikan)")

Chi-Square Statistic: 12.87805803945351
p-value: 0.3779659536953773
Degrees of Freedom: 12
Chi-Square Tabel (df=12, alpha=0.05): 21.02606981748307
Keputusan: Gagal Tolak H0 (Tidak ada hubungan yang signifikan)